.fgt-password {
  height: 100vh;
  width: 100vw;
  border: 2px solid green;

  position: relative;
}

.fgtb-1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.fgtb-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.fgt-password .content {
  border: 2px solid red;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.fgt-password .content .fgt-top {
  border: 2px solid green;
  height: 50vh;
  display: flex;
  align-items: end;
}

.floater {
  border: 2px solid purple;
  width: 100%;
}

.floater h3 {
  font-size: 40px;
}

.floater p {
  font-size: 18px;
  margin: 12px 0;
}

.floater input {
  width: 100%;
  padding: 20px 12px;
  border: none;
  background-color: #F1F1F1;
  border-radius: 15px;
  outline: none;
  margin-top: 20px;
}

/* ------------------------------------------ */

.fgt-prof {
  text-align: start;
}


