:root {
  --the-blue: #004CFF;
  --the-light-blue: #DFE9FF;
}


/*--------------- SLIDER CSS------------------ */
.home-slider {
  /* border: 2px solid red; */
  width: 100% !important;
  height: fit-content;
}


.home-slider .one-slide {
  width: 100% !important;
  height: 250px !important;
  /* border: 2px solid blue; */
}

.home-slider .one-slide img {
  width: 100%;
  height: 100% !important;
  border-radius: 18px;
  object-fit: cover;
  object-position: right;
}

.slick-dots {
  /* background-color: blue !important; */
}

.slick-dots > .slick-active > button::before {
  width: 15px !important;
  height: 15px !important;
  border-radius: 100%;
  background-color: var(--the-blue) !important;
  content: '' !important;
}

.slick-dots > li > button::before {
  width: 15px !important;
  height: 15px !important;
  border-radius: 100%;
  background-color: var(--the-blue) !important;
  content: '' !important;
}



/* -----------HOME CSS------------ */
.home {
  width: 100%;
  height: 100%;
  /* border: 3px solid green; */
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: 2px solid green; */
}

.home-content {
  margin-top: 20px;
}

.home-nav {
  height: 60px;
  width: 100%;
  background-color: white;
  /* border: 2px solid rebeccapurple; */
  /* margin: 10px 0; */
  /* margin-bottom: 20px; */
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -1px;
  z-index: 2;
}

.home-nav h1 {
  font-weight: 700;
  font-size: 35px;
  margin: 0;
}

.home-nav .search-div {
  width: 70%;
  height: 100%;
  border-radius: 30px;
  padding: 0 10px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-div i {
  font-size: 30px;
  color: var(--the-blue);
}

.search-div input {
  width: 80%;
  height: 90%;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: transparent;
}

/* ----------------------- */

.home-section-two {
  margin: 40px 0;
  width: 100%;
  /* border: 2px solid green; */
}

.ct-main {
  width: 100%;
  padding: 20px 5px;
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.one-category {
  height: 250px;
  box-shadow: 0.1px 0.1px 10px 0.5px rgba(0, 0, 0, 0.3);
  padding: 6px;
  border-radius: 10px;
}

.one-category .one-cat-up {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.one-cat-up img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 1.2px solid white;
}

.one-category .one-cat-down {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.one-cat-down p {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.one-cat-down span {
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
  height: fit-content;
  background-color: var(--the-light-blue);
  font-family: Raleway;
  font-weight: 600;
}


/* ----------------- */

.home-section-three {

}

.tp-top {

}

.tp-main {
  display: flex;
  align-items: center;
  overflow-x: scroll !important;
  gap: 15px;
  flex-shrink: 0;
  padding: 30px 0;
}

.tp-main .one-top-product {
  width: 80px !important;
  min-width: 80px;
  height: 80px;
  border: 5px solid white;
  border-radius: 100%;
  box-shadow: 0.2px 0.2px 10px 0.5px rgba(0, 0, 0, 0.3);
}

.one-top-product img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/* -------------------------- */

.home-section-four {

}

.new-items-main {
  display: flex;
  overflow: scroll;
}

.new-items-main > div {
  min-width: 180px;
}


/* ------------------------------ */

.home-section-five {
  margin: 25px 0;
}

.flash-sales-top {
  width: 100%;
  height: 70px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flash-sales-top .fst-left h2 {
  font-weight: 700;
  margin: 0;
}

.flash-sales-top .fst-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fst-right i {
  color: var(--the-blue);
  font-size: 35px;
  margin-right: 10px;
}

.fst-right span {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 700;
  background-color: #f3f3f3;
  padding: 4px 10px;
  border-radius: 10px;
}

.flash-sales-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.one-fs-item {
  height: fit-content;
  border: 2px solid green;
  padding: 0px;
  border: 5px solid white;
  box-shadow: 0.2px 0.2px 10px 0.5px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 12px;
}

.one-fs-item span {
  color: white;
  font-weight: 700;
  padding: 2px 5px;
  background: linear-gradient(90deg, #FF3B75, #FF6B5D);
  position: absolute;
  right: 0;
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

.one-fs-item img {
  width: 100%;
}


/* --------------------------------------- */
.home-section-six {

}

.most-popular {
  margin: 30px 0;
}

.most-popular-main {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.one-mp-item {
  width: 140px;
  min-width: 140px;
  box-shadow: 0.2px 0.2px 10px 0.5px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  padding: 4px;
  border-radius: 12px;
}

.one-mp-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.one-mp-item div h4 {
  margin: 0;
  font-weight: 700;
}

.one-mp-item div h4 i {
  color: var(--the-blue);
  font-family: Raleway;
}

.one-mp-item img {
  width: 100%;
}


/* -------------------------------- */

.home-section-seven {

}

.just-for-you-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}





